In [1]:
rv = """Once upon a midnight dreary, while I pondered, weak and weary,
    Over many a quaint and curious volume of forgotten lore,
    While I nodded, nearly napping, suddenly there came a tapping,
    As of some one gently rapping, rapping at my chamber door.
    'Tis some visitor, I muttered, tapping at my chamber door;
    Only this and nothing more."""

In [2]:
rv

"Once upon a midnight dreary, while I pondered, weak and weary,\n    Over many a quaint and curious volume of forgotten lore,\n    While I nodded, nearly napping, suddenly there came a tapping,\n    As of some one gently rapping, rapping at my chamber door.\n    'Tis some visitor, I muttered, tapping at my chamber door;\n    Only this and nothing more."

In [3]:
len(rv)

348

In [11]:
import random
prob = random.randrange(0, 100)
print(prob)

0.9341495223541831
5

In [13]:
prob = random.random()
print(prob)

0.3583877833894866

In [19]:
for i in range(1,11):
    x= float(i)
    y = float(random.random())
    z = x+y
    print(z)

1.8504293882867033
2.2454857376492248
3.4153963100482887
4.276982071650966
5.656215259787139
6.762109003565021
7.342501710067484
8.855665615954626
9.534293449445233
10.072281789375312

In [23]:
import random

for i in range(1,11):
    x= float(i)/float(i)
    y = float(random.randrange(25,35))
    z = x+y
    print(z)

27.0
26.0
34.0
27.0
32.0
30.0
28.0
30.0
34.0
27.0

In [25]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']

sports

['cricket',
 'football',
 'volleyball',
 'baseball',
 'softball',
 'track and field',
 'curling',
 'ping pong',
 'hockey']

In [51]:
last = sports[-3:]

['curling', 'ping pong', 'hockey']

In [43]:
x

['curling', 'ping pong']

In [41]:
sports[-3]

'curling'

In [54]:
by = "You are"
az = "doing a great "
io = "job"
qy = "keep it up!"

In [67]:
message = by+" "+az+" "+io+","+" "+qy

In [70]:
message

'You are doing a great  job, keep it up!'

In [71]:
my_str = "MICHIGAN"

In [73]:
for i in my_str:
    print(i)

M
I
C
H
I
G
A
N

In [74]:
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]

In [76]:
for i in several_things:
    print(i)

hello
2
4
6.0
7.5
234352354
the end

99

In [78]:
for i in several_things:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [94]:
original_str = "The quick brown rhino jumped over the extremely lazy fox."

In [105]:
num_chars = 0
for i in original_str:
    if i:
        num_chars+=1
print(num_chars)

57

In [106]:
num_chars

57

In [107]:
addition_str = "2+5+10+20"

In [120]:
y = addition_str.split("+")
sum_val = sum([int(x) for x in y])

In [124]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"

In [130]:
x = week_temps_f.split(",")
y = [float(x) for x in x]
avg_temp = sum(y)/len(y)

In [132]:
avg_temp

80.67142857142858

In [136]:
nums = []
for i in range(0,68):
    nums.append(i)

In [138]:
nums

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67]

In [139]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"

In [148]:
num_words_list = []
x = original_str.split(" ")
for i in x:
    y = len(i)
    num_words_list.append(y)

In [149]:
num_words_list

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

In [153]:
lett = ""

In [162]:
lett = ""
y = []
for i in range(0,7):
    x = "b"
    y.append(x)
    lett = "".join(y)

In [164]:
lett

'bbbbbbb'

In [166]:
rainfall_mi = "1.65, 1.46, 2.05, 3.03, 3.35, 3.46, 2.83, 3.23, 3.5, 2.52, 2.8, 1.85"

In [169]:
x = rainfall_mi.split(",")

In [171]:
y = [float(i) for i in x]

In [176]:
num_rainy_months = 0
for i in y:
    if i >3.0:
        num_rainy_months +=1

In [177]:
sentence = "students flock to the arb for a variety of outdoor activities such as jogging and picnicking"

In [181]:
x = sentence.split(" ")

In [188]:
same_letter_count = 0
for i in x:
    if i[0]== i[-1]:
        same_letter_count +=1

In [189]:
items = ["whirring", "wow!", "calendar", "wry", "glass", "", "llama","tumultuous","owing"]

In [196]:
x = "w"

In [202]:
acc_num= 0
for i in items:
    if x in i:
        acc_num+=1

In [204]:
count

4

In [205]:
sentence = "python is a high level general purpose programming language that can be applied to many different classes of problems."

In [213]:
a = "a"
e = "e"
num_a_or_e = 0
new_sentence = sentence.split(" ")
for i in new_sentence:
    if a in i:
        num_a_or_e +=1
    elif e in i:
        num_a_or_e +=1

In [215]:
num_a_or_e

14

In [216]:
s = "singing in the rain and playing in the rain are two entirely different situations but both can be fun"
vowels = ['a','e','i','o','u']

In [218]:
num_vowels = 0
for i in s:
    if i in vowels:
        num_vowels+=1

In [220]:
num_vowels

32

In [228]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']

In [229]:
w = 'horseback riding'
sports.insert(2, w)

In [231]:
sports

['cricket',
 'football',
 'horseback riding',
 'volleyball',
 'baseball',
 'softball',
 'track and field',
 'curling',
 'ping pong',
 'hockey']

In [232]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'London', 'Melbourne']

In [233]:
trav_dest.remove('London')

In [235]:
trav_dest

['Beirut',
 'Milan',
 'Pittsburgh',
 'Buenos Aires',
 'Nairobi',
 'Kathmandu',
 'Osaka',
 'Melbourne']

In [236]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'Melbourne']

In [237]:
w = 'Guadalajara'
trav_dest.append(w)

In [239]:
x = ["dogs", "cats", "birds", "reptiles"]
y = x
x += ['fish', 'horses']
y = y + ['sheep']

In [241]:
x

['dogs', 'cats', 'birds', 'reptiles', 'fish', 'horses']

In [243]:
y

['dogs', 'cats', 'birds', 'reptiles', 'fish', 'horses', 'sheep']

In [244]:
sent = "The mall has excellent sales right now."
wrds = sent.split()
wrds[1] = 'store'
new_sent = " ".join(wrds)

In [246]:
new_sent

'The store has excellent sales right now.'

In [269]:

str1 = "I love python"

In [272]:
x = "".join(str1)

In [273]:
[str(x) for x in x]

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [274]:
chars = [str(x) for x in x]

In [275]:
ael = "python!"

In [277]:
app = []
for i in ael:
    app.append(i)

In [279]:
app

['p', 'y', 't', 'h', 'o', 'n', '!']

In [280]:
wrds = ["end", 'work', "play", "start", "walk", "look", "open", "rain", "learn", "clean"]

In [283]:
past_wrds = []

for i in wrds:
    x = i + "ed"
    past_wrds.append(x)

Below are a set of scores that students have received in the past semester. Write code to determine how many are 90 or above and assign that result to the value a_scores.

In [491]:
scores = "67 80 90 78 93 20 79 89 96 97 92 88 79 68 58 90 98 100 79 74 83 88 80 86 85 70 90 100"

x = scores.split(" ")

y = [int(x) for x in x]

In [492]:
a_scores = 0
for i in y:
    if i >= 90:
        a_scores+=1

In [493]:
a_scores

7

Write code that uses the string stored in org and creates an acronym which is assigned to the variable acro. Only the first letter of each word should be used, each letter in the acronym should be a capital letter, and there should be nothing to separate the letters of the acronym. Words that should not be included in the acronym are stored in the list stopwords. For example, if org was assigned the string “hello to world” then the resulting acronym should be “HW”.

In [356]:

stopwords = ['to', 'a', 'for', 'by', 'an', 'am', 'the', 'so', 'it', 'and', "The"]
org = "The organization for health, safety, and education"

In [357]:
x = org.lower()

In [358]:
y = x.split(" ")

In [359]:
y

['the', 'organization', 'for', 'health,', 'safety,', 'and', 'education']

In [360]:
acro = []
for i in y:
    if i not in stopwords:
        acro.append(i[0])

In [363]:
acro = [x.upper() for x in acro]

In [368]:
acro = "".join(acro)

Write code that uses the string stored in sent and creates an acronym which is assigned to the variable acro. The first two letters of each word should be used, each letter in the acronym should be a capital letter, and each element of the acronym should be separated by a “. ” (dot and space). Words that should not be included in the acronym are stored in the list stopwords. For example, if sent was assigned the string “height and ewok wonder” then the resulting acronym should be “HE. EW. WO”.

In [404]:

stopwords = ['to', 'a', 'for', 'by', 'an', 'am', 'the', 'so', 'it', 'and', 'The']
sent = "The water earth and air are vital"

In [405]:
x = sent.split(" ")

In [409]:
acro = []
for i in x:
    if i not in stopwords:
        acro.append(i[:2])

In [411]:
acro = [x.upper() for x in acro]

In [413]:
acro = ". ".join(acro)

In [415]:
acro

'WA. EA. AI. AR. VI'

A palindrome is a phrase that, if reversed, would read the exact same. Write code that checks if p_phrase is a palindrome by reversing it and then checking if the reversed version is equal to the original. Assign the reversed version of p_phrase to the variable r_phrase so that we can check your work.

In [420]:
p_phrase = "was it a car or a cat I saw"

In [427]:
r_phrase = p_phrase[::-1]

In [429]:
if(p_phrase == r_phrase):
    print("This is a Palindrom")
else:
    print("This is not a Palidrome")

This is not a Palidrome

Provided is a list of data about a store’s inventory where each item in the list represents the name of an item, how much is in stock, and how much it costs. Print out each item in the list with the same formatting, using the .format method (not string concatenation). For example, the first print statment should read The store has 12 shoes, each for 29.99 USD.

In [430]:
inventory = ["shoes, 12, 29.99", "shirts, 20, 9.99", "sweatpants, 25, 15.00", "scarves, 13, 7.75"]

In [473]:
items = ["shoes","shirts","sweatpants","scarves"]
stock = [12,20,25,13]
cost = [29.99,9.99,15.00,7.74]

In [486]:
for (a,b,c)  in zip(stock, items,cost):
    print("The store has {0} {1}, each for {2} USD.".format(a,b,c))

The store has 12 shoes, each for 29.99 USD.
The store has 20 shirts, each for 9.99 USD.
The store has 25 sweatpants, each for 15.0 USD.
The store has 13 scarves, each for 7.74 USD.

In [495]:

inventory = ["shoes, 12, 29.99", "shirts, 20, 9.99", "sweatpants, 25, 15.00", "scarves, 13, 7.75"]

items = ["shoes","shirts","sweatpants","scarves"]
stock = [12,20,25,13]
cost = [29.99,9.99,15.0,7.75]

for (a,b,c)  in zip(stock, items,cost):
    print("The store has {0} {1}, each for {2} USD.\n".format(a,b,c))

The store has 12 shoes, each for 29.99 USD.

The store has 20 shirts, each for 9.99 USD.

The store has 25 sweatpants, each for 15.0 USD.

The store has 13 scarves, each for 7.75 USD.