In [50]:
import pandas as pd
import glob
import numpy as np
import os

In [51]:
dir = os.getcwd()

In [53]:
file = ''.join(os.path.join(dir,'mrtsales.xlsx'))
df = pd.read_excel(file, sheet_name = None, skiprows = 4,nrows = 66)

In [54]:
main = pd.concat(df.values(), ignore_index=True)

In [55]:
main.drop(columns = ['CY CUM','PY CUM'], inplace=True)

In [56]:

cols = [ele for ele in main.columns if '20' in ele or '19' in ele]

In [57]:


new = pd.melt(main,id_vars = ['Unnamed: 0','Unnamed: 1'], value_vars=cols, var_name = 'month_year', value_name = 'sales')
new = new[new['sales'].notna()]
new = new[new['sales']!='(S)']

In [59]:
new.rename(columns = {'Unnamed: 0':'naics_code','Unnamed: 1':'business'}, inplace=True)
new['month_year'] = new['month_year'].str.replace('.','',regex=False).str.replace('(p)','',regex=False)

C:\Users\rudym\AppData\Local\Temp\ipykernel_7984\1013948349.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new['month_year'] = new['month_year'].str.replace('.','').str.replace('(p)','')
C:\Users\rudym\AppData\Local\Temp\ipykernel_7984\1013948349.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  new['month_year'] = new['month_year'].str.replace('.','').str.replace('(p)','')

In [61]:
print(new['month_year'])

1         Jan 2021
2         Jan 2021
3         Jan 2021
4         Jan 2021
5         Jan 2021
            ...
692995    Dec 1992
692996    Dec 1992
692997    Dec 1992
692998    Dec 1992
692999    Dec 1992
Name: month_year, Length: 22641, dtype: object

In [33]:
new.to_csv('output.csv')

In [35]:
import mysql.connector

cnx = mysql.connector.connect(user='root',
                              password='Roryreese613!',
                              host='127.0.0.1',
                              database='bad_sakila',
                              auth_plugin='mysql_native_password')

In [36]:
cursor = cnx.cursor()

cursor.execute(f'DROP TABLE IF EXISTS `sales`')

cursor.execute(

    """

    
    
    CREATE TABLE `sales` ( 

        `naics_code` varchar(50),
        `business` varchar(200),
        `month_year` varchar(50),
        `sales` varchar(150)
    )

"""
)

cnx.commit()

In [37]:
import csv


sql = (f'INSERT INTO `sales`(`naics_code`,`business`,`month_year`,`sales`) VALUES(%s,%s,%s,%s);')


with open('output.csv') as csv_file:
      csv = csv.reader(csv_file,delimiter = ',')
      next(csv)
      for row in csv:
            value = (row[1],row[2],row[3],row[4])
            cursor.execute(sql,value)
            cnx.commit()
      for row in csv:
            next(csv)
            row_count = sum(1 for row in csv)-1

In [33]:
import csv 

with open('output.csv') as file:
    csv = csv.reader(file)
    row_count = sum(1 for row in csv)-1

In [44]:
row_count

22641

In [48]:
with open('pw.txt','r') as file:
    pw = file.read()

In [49]:
pw

'Roryreese613!'