In [24]:
import pandas as pd
import glob
import numpy as np
import os

In [25]:
dir = os.getcwd()

['etl.ipynb',
 'Module 8_Final_Project_Template.ipynb',
 'mrtssales92-present.xls',
 'output.csv',
 'test.xls',
 'test.xlsx']

In [26]:
file = ''.join(os.path.join(dir,'test.xlsx'))
df = pd.read_excel(file, sheet_name = None, skiprows = 4,nrows = 66)

In [27]:
main = pd.concat(df.values(), ignore_index=True)

In [28]:
main.drop(columns = ['CY CUM','PY CUM'], inplace=True)

In [30]:

cols = [ele for ele in main.columns if '20' in ele or '19' in ele]

In [31]:


new = pd.melt(main,id_vars = ['Unnamed: 0','Unnamed: 1'], value_vars=cols, var_name = 'month_year', value_name = 'sales')
new = new[new['sales'].notna()]
new = new[new['sales']!='(S)']

In [32]:
new.rename(columns = {'Unnamed: 0':'naics_code','Unnamed: 1':'business'}, inplace=True)

Index(['naics_code', 'business', 'month_year', 'sales'], dtype='object')

In [33]:
new.to_csv('output.csv')

In [16]:
import mysql.connector

cnx = mysql.connector.connect(user='root',
                              password='Roryreese613!',
                              host='127.0.0.1',
                              database='bad_sakila',
                              auth_plugin='mysql_native_password')

In [17]:
cursor = cnx.cursor()

cursor.execute(

    """

    DROP TABLE IF EXISTS `sales`;
    
    CREATE TABLE `sales` ( 

        `naics_code` varchar(50),
        `business` varchar(200),
        `month_year` varchar(50),
        `sales` varchar(150)
    )

"""
)

cnx.commit()

In [18]:
import csv


sql = (f'INSERT INTO `sales`(`naics_code`,`business`,`month_year`,`sales`) VALUES(%s,%s,%s,%s);')


with open('output.csv') as csv_file:
      csv = csv.reader(csv_file,delimiter = ',')
      next(csv)
      for row in csv:
            value = (row[1],row[2],row[3],row[4])
            cursor.execute(sql,value)
            cnx.commit()

DatabaseError: 2014 (HY000): Commands out of sync; you can't run this command now

In [5]:
import csv 

with open('output.csv') as file:
    csv = csv.reader(file)
    row_count = sum(1 for row in csv)-1

In [6]:
row_count

22641